apiVersion: v1
kind: ConfigMap
metadata:
  name: infrastructure-gateway-options
  namespace: infrastructure
  annotations:
    argocd.argoproj.io/sync-wave: "0"
data:
  deployment: |
    spec:
      template:
        spec:
          containers:
          - name: istio-proxy
            securityContext:
              seccompProfile:
                type: "RuntimeDefault"
