apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: productionhome-coredns
resources:
  - ../../base/
  - resources/configmapZonefile.yaml
patches:
  - path: patches/routeCoredns.yaml
    target:
      kind: UDPRoute
      name: coredns
  - path: patches/routeCoredns.yaml
    target:
      kind: TCPRoute
      name: coredns
  - path: patches/namespace.yaml
    target:
      kind: Namespace
      name: placeholder-coredns
    options:
      allowNameChange: true

# note:
# the reason why i am not using the helm version is because
# the helm version bundles a default zone that i can not
# disable. its also geared for running as the main kubernetes
# dns service. i am not using mine that way so i want total
# control over how it runs.
