# installing istio in "ambient" mode
# will also install "waypoint" proxies as well
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: istio-system
helmCharts:
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    namespace: istio-system
    includeCRDs: true
    valuesFile: valuesBase.yaml
  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    namespace: istio-system
    includeCRDs: true
    valuesFile: valuesIstiod.yaml
  - name: cni
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    namespace: istio-system
    includeCRDs: true
    valuesFile: valuesCni.yaml
  - name: ztunnel
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    namespace: istio-system
    includeCRDs: true
    valuesFile: valuesZtunnel.yaml
  # how do I install waypoint proxy???
  # how to get istio to not deploy a gatewayclass or gateway by default???
